body {
    background-color: blue;
   
 	font-size: 25px;
    
	font-family: "Times New Roman";
    
color: yellow;
}


a {
    color: Aqua;
}


a:visited {
    color: black;
}


p:hover {
    color: black;
  
	  font-family: "Georgia";
}


h2 {
    color: gold;
}


h1 {
    color: Violet;
}


img {
   
    display: block;
    
	margin-left: auto;
    
	margin-right: auto;
    
	transition: .2s;

}

 
img:hover {
    border: 2px solid blue;
   
		 transform: scale(2);
}